body {
  margin: 0;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

canvas {
  display: block;
  border-style: solid;
  border-width: 10px;
  border-color: black;
}
